page-menu {
    .container{
        background-color:#557B84;
        width: 100%;
        height: 100%;
        background-size: cover;
        text-align: center;
        padding-top: 50vh;
      
    }
    
}
